body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
    padding: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    border-radius: 8px;
  }
  
  .sp {
    background: green;
    color: white;
    display:inline-flex;
    padding: 4px 8px;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
    color: #2e7d32;
  }
  
  .rating {
    margin-bottom: 10px;
  }
  
  .stars {
    color: gold;
    font-size: 18px;
  }
  
  .details {
    font-size: 14px;
    color: #888;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .infosp p {
    font-size: 14px;
    margin: 3px 0;
  }
  
  .online {
    color: green;
  }
  
  .xacthuc {
    color:green;
    font-weight: bold;
  }
  
  .gia {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
    font-family: sans-serif;
  }
  
  .tag {
    background: #f0f0f0;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
   
  }
  
  .last{
    background-color: #2e7d32;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
  }
  a
  {
    text-decoration: none;
    color:black;
  }
  a:hover
  {
    background-color:  #2e7d32;
    padding: 5px;
    color: #ffffff;
    border-radius: 10vh;
  }
  .last:hover
  {
    background-color: rgb(5, 87, 5);

  }
  