body
{
    background:linear-gradient(lightslategrey,black);
    color:white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Manrope',sans-serif;
}
.Heading
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1 vw;
}
.heading-title
{
    font-size: 4.5 vw;
   
    -webkit-text-stroke: 0.15vw white;
    padding: 20px;
}
.heading-icon
{
    width: 10vw;
    height: 9vw;
    border-radius: 20%;
}
.playlist
{

    margin: 20px auto;
}
.playlist-header
{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-weight: bold;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    gap: 300px;
    margin-left: 30px;
}
.song
{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid  rgba(255,255,255,0.1);
    cursor: pointer;
    transition: background 0.2s;
}
.song-img
{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 0 15px;
}
.song-info
{
    flex-grow: 1;
}
.artist
{
    font-size: 0.9em;
    color: rgba(255,255,255,0.7);
}
.duration
{
    text-align: right;
    right: 15px;
}
.song:hover
{
    background-color: rgba(255,255,255,0.1);
}